@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
html, body, #root {
    margin: 0;
    padding: 0;
    font-family: "Outfit", sans-serif;
    font-weight: 200;
}
:root{
    --primary: rgb(23, 16, 16);
    --secondary:rgb(33, 24, 24);
    --third:rgb(41, 31, 31);
    --accent: rgb(54, 34, 34);
}

.app{
    display: flex;
    flex-direction: row;
    height: 100vh;
}
.column{
    flex:12;
    display: flex;
    flex-direction: column;
}
.List{
    flex: 8;
}
.Bar{
    flex:2;
}
.HelpBar{
    flex:0.01;
    transition: flex 1s ease-in-out;
}
.HelpBar:hover{
    flex: 1;
}
.noProject{
    flex:12;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 5vw;
    background-color: var(--primary);
    color: white;
}
*{
    box-sizing: border-box;
}

