html, body, #root {
    margin: 0;
    padding: 0;
}
:root{
    --primary: rgb(23, 16, 16);
    --secondary:rgb(33, 24, 24);
    --third:rgb(46, 37, 37);
    --accent: rgb(54, 34, 34);
}
.app{
    display: flex;
    flex-direction: row;
    height: 100vh;
}
.column{
    flex:12;
    display: flex;
    flex-direction: column;
}
.List{
    flex: 8;
}
.Bar{
    flex:2;
}
.HelpBar{
    flex:0.01;
    transition: flex 1s ease-in-out;
}
.HelpBar:hover{
    flex: 1;
}
*{
    box-sizing: border-box;
}

